// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

#main {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: grid;
  grid-template-rows: 2fr 1fr 7fr;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.section {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

#map {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#search {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#search input {
  width: 75%;
  padding: 0;
  margin: auto 0;
  letter-spacing: 0.25ex;
  font-family: monospace;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid gray;
  color: gray;
  font-size: 1rem;
  text-align: center;
}

#search input:hover {
  color: black;
  border-bottom: 1px solid black;
}

#search input:focus {
  outline: none;
  color: black;
  border-bottom: 1px solid black;
}

#search i {
  color: gray;
  margin-top: auto;
  margin-bottom: auto;
}

#search i:hover {
  color: black;
}

#title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#title h1 {
  font-size: 3rem;
  font-family: sans-serif;
}

#form {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
