// Place all the styles related to the points controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  z-index: -1;
  margin: 0;
  background-color: black;
  color: white;
  font-family: monospace;
  overflow: hidden;
}

#main {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  display: grid;
  grid-template-rows: 2fr 1fr 7fr;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  margin: 10px;
}

.section {
  width: 100%;
  height: 100%;
}

#map {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#search {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  width: 80%;
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

#search input[type='text'] {
  color: white !important;
  width: 90%;
  padding: 0;
  margin: auto 0;
  letter-spacing: 0.25ex;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid white;
  font-size: 1rem;
  text-align: center;
  background-color: black;
}

#search input[type='text']:focus {
  outline: none;
}

#search i {
  margin-top: auto;
  margin-bottom: auto;
}

#title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25rem;
}

#title h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: bold;
}

#moreButton {
  font-size: 2rem;
  cursor: pointer;
}

#moreButton:hover {
  color: darken(white, 15%);
}

#moreButton::before {
  content: "[";
}

#moreButton::after {
  content: "]";
}

#title h2 {
  margin: 0;
  padding-top: 5px;
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: normal;
}

#form{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: auto !important;
}

#form p {
  font-size: 1rem;
  font-weight: bold;
}

#form form {
  margin: 0 10%;
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#form form label {
  white-space: nowrap;
}

#form form label::after {
  content: ":";
}

#form input[type='text'] {
  color: white !important;
  width: 100%;
  padding: 0;
  margin-bottom: 3ex;
  letter-spacing: 0.25ex;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid white;
  font-size: 1rem;
  text-align: left;
  background-color: black;
}

#form input[type='text']:focus {
  outline: none;
}

#form input[type='submit'] {
  cursor: pointer;
  color: white;
  background-color: black;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: monospace !important;
  font-weight: bold;
  font-size: 0.75rem;
}

#form input[type='submit']:focus {
  outline: none;
}

#searchIcon {
  cursor: pointer;
}

#searchIcon:hover {
  color: darken(white, 15%);
}

input[type='text']:hover {
  color: darken(white, 15%);
  border-bottom: 1px solid darken(white, 15%);
}

#form input[type='submit']:hover {
  color: darken(white, 15%);
}

.hidden {
  display: none !important;
}

#about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: top 0.5s ease-in-out;
  background-color: black;
  z-index: 10000;
}

#about.scrolled {
  top: 100vh;
}

#exitAbout {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 2vw;
  top: 2vw;
  font-size: 1.5rem;
  background-color: black;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: 0;
  color: white;
}

#exitAbout:focus {
  outline: none;
}

#exitAbout:hover {
  color: darken(white, 15%);
}

#exitAbout::before {
  content: "[";
}

#exitAbout::after {
  content: "]";
}
